html {
    font-size: 10px;
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 0px;
    background: rgb(205,233,221);
    background: radial-gradient(circle, rgba(205,233,221,1) 0%, rgba(124,176,188,1) 65%, rgba(171,189,248,1) 100%);
}

h1 {
    text-align: center;
    color: #031741;
    font-size: 4em;
}

.imageDisplay {
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: 250px;
    width: 900px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 300px 0px 300px;
}

.button {
    border: none;
    margin: 5px;
    width: 25%;
    height: auto;
}

.button:hover {
    margin-top: -5px;
    cursor: pointer;
}

.messageBox { 
    display: flex;
    font-size: 1.9em;
    font-weight: 800;
    height: 50px;
    white-space: pre;
    text-align: center;
    justify-content: center;
    color: #1F2667;
    margin-top: 30px
}
  
  #history {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 100px;
    width: 200px; 
    font-size: 1.2em;
    color: #1F2667;
    overflow: auto;
    opacity: 0.1;
    visibility: hidden;
}

#history:hover {
    opacity: 0.55;
}


.logTable, th, td {
    border: 3px solid black;
    border-collapse: collapse;
  }

  td {
    border-bottom: hidden;
  }
  
.logButton {
    position: absolute;
    top: 25px;
    right: 50px;
    background-color: #ADB3EB94;
    border-radius: 10px;
    font-weight: 500;
    color: #1F2667;
    box-shadow: transparent;
}
  