html {
    font-size: 10px;
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    background: rgb(205,233,221);
    background: radial-gradient(circle, rgba(205,233,221,1) 0%, rgba(124,176,188,1) 65%, rgba(171,189,248,1) 100%);
}

h1 {
    text-align: center;
    color: #031741;
    font-size: 4em;
}

.imageDisplay {
    display: flex;
    align-self: center;
    justify-content: space-around;
    height: 250px;
    width: 900px;
}

img {
    border: none;
    margin: 5px;
}

.button:hover {
    margin-top: -5px;
    cursor: pointer;
}

.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 300px 0px 300px;
}

.button {
    border: none;
    margin: 5px;
}

.messageBox { 
    display: flex;
    font-size: 1.9em;
    font-weight: 8  00;
    height: 50px;
    white-space: pre;
    text-align: center;
    justify-content: center;
    color: #1F2667;
    margin-top: 50px
}

